.vs/VSWorkspaceState.json
.vs/UserAPI/CopilotIndices/17.13.441.19478/CodeChunks.db
.vs/UserAPI/CopilotIndices/17.13.441.19478/SemanticSymbols.db
.vs/UserAPI/v17/.wsuo
.vs/UserAPI/v17/DocumentLayout.json
UserManagement/obj/Debug/net8.0/UserManagement.AssemblyInfoInputs.cache
UserManagement/obj/Debug/net8.0/UserManagement.AssemblyInfo.cs

.fake
UserManagement/obj/Debug/net8.0/UserManagement.AssemblyInfo.cs
UserManagement/obj/Debug/net8.0/UserManagement.AssemblyInfoInputs.cache
UserManagement/obj/Debug/net8.0/UserManagement.assets.cache
UserManagement/obj/Debug/net8.0/UserManagement.csproj.AssemblyReference.cache
UserManagement/obj/Debug/net8.0/UserManagement.GeneratedMSBuildEditorConfig.editorconfig
UserManagement/obj/project.assets.json
UserManagement/obj/project.nuget.cache
UserManagement/obj/UserManagement.csproj.nuget.dgspec.json
UserManagement/obj/UserManagement.csproj.nuget.g.props
