.vs/VSWorkspaceState.json
.vs/UserAPI/CopilotIndices/17.13.441.19478/CodeChunks.db
.vs/UserAPI/CopilotIndices/17.13.441.19478/SemanticSymbols.db
.vs/UserAPI/v17/.wsuo
.vs/UserAPI/v17/DocumentLayout.json

.fake